@media print{

    @page{
        size: A6;
        bleed: 0mm; 
        marks: crop;
        @bottom-center{
            content: counter(page);
			font-family: 'Amiamie';
    	}
		margin: 8mm 6mm;
    }
	@page :first {
		background: url(images/tutowiki-cover.png);
		background-repeat: no-repeat;
  		background-origin: content-box;
		background-size: contain;
		color: rgba(0,0,0,0);
	
		@bottom-center {
			content: "";
		}

	}
	@page :nth(6) {
		@bottom-center {
			content:"\2B8D";
			font-size: 32pt;
			padding-bottom: 16pt;
		}
	}
	@page :nth(7) {
		@bottom-center { content: ""; }
		margin-bottom: 0;	
	}	
}

h1, h2, h3, h4 {
	margin-top: 0;
}

h1 {
	font-size: 60pt;
	font-family: 'Amiamie';
	font-weight: bold;	

}


h2{
    font-family: 'VG5000';
    text-align: center;
	break-before: page;
}

h3 {
	font-family: 'Amiamie';
	font-style: italic;
	font-weight: normal;
	font-size: 14pt;
	margin-left: 8mm;
	margin-bottom: 2mm;
	color: darkorchid;
	padding-top: 1mm;
}

h4 {
	font-family: 'Amiamie';
	font-style: italic;
	font-weight: normal;
	color: #666;
	margin-bottom: 0;
}

#image{
    max-width: 100%;
}

p, p *, ul, ol {
		font-family: 'Amiamie Round';
		font-size: 10pt;
		text-align: left;
		text-justify: auto;
		break-inside: avoid;
		margin-top: 0mm;
}

ul li {
	
	list-style: none;
}

ul li::before {
	display: inline-block;
	content: "\2192\00A0\00A0";
	width: 2em;
	margin-left: -2em;
}

ol {
	break-inside: auto;
	padding-left: 2ch;
	text-align: left;
}

ol li {
	margin-bottom: 10pt;

}

code {
	font-family: monospace;
	font-size: 0.9em;
	border: 1px solid #DDD;
	padding: 0.5mm;
	border-radius: 1mm;
}

span {break-before:page;}
p span {
	
	font-style: italic;
	font-weight: bold;
	font-size: 14pt;
	font-family: 'Amiamie';
	break-before: page;
	break-after: page;
}

p:has(span) {
text-align: start;
}

#crerunepage {
	break-before: page;
}

#pourallerplusloin {
	break-before: page;
}

#conseils {
	break-before:page;
}
