@font-face {
    font-family: 'Amiamie Round';
    src: url('Amiamie-ItalicRound.woff2') format('woff2'),
        url('Amiamie-ItalicRound.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Amiamie Round';
    src: url('Amiamie-ItalicRound.woff2') format('woff2'),
        url('Amiamie-ItalicRound.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Amiamie Round';
    src: url('Amiamie-BlackItalicRound.woff2') format('woff2'),
        url('Amiamie-BlackItalicRound.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Amiamie Round';
    src: url('Amiamie-BlackItalicRound.woff2') format('woff2'),
        url('Amiamie-BlackItalicRound.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Amiamie';
    src: url('Amiamie-Black.woff2') format('woff2'),
        url('Amiamie-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Amiamie Round';
    src: url('Amiamie-BlackRound.woff2') format('woff2'),
        url('Amiamie-BlackRound.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Amiamie';
    src: url('Amiamie-Italic.woff2') format('woff2'),
        url('Amiamie-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Amiamie';
    src: url('Amiamie-Italic.woff2') format('woff2'),
        url('Amiamie-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Amiamie Round';
    src: url('Amiamie-BlackRound.woff2') format('woff2'),
        url('Amiamie-BlackRound.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Amiamie';
    src: url('Amiamie-BlackItalic.woff2') format('woff2'),
        url('Amiamie-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Amiamie';
    src: url('Amiamie-BlackItalic.woff2') format('woff2'),
        url('Amiamie-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Amiamie';
    src: url('Amiamie-Black.woff2') format('woff2'),
        url('Amiamie-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Amiamie';
    src: url('Amiamie-Light.woff2') format('woff2'),
        url('Amiamie-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Amiamie';
    src: url('Amiamie-LightItalic.woff2') format('woff2'),
        url('Amiamie-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Amiamie';
    src: url('Amiamie-Light.woff2') format('woff2'),
        url('Amiamie-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Amiamie Round';
    src: url('Amiamie-RegularRound.woff2') format('woff2'),
        url('Amiamie-RegularRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Amiamie';
    src: url('Amiamie-Regular.woff2') format('woff2'),
        url('Amiamie-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Amiamie';
    src: url('Amiamie-LightItalic.woff2') format('woff2'),
        url('Amiamie-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Amiamie';
    src: url('Amiamie-Regular.woff2') format('woff2'),
        url('Amiamie-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Amiamie Round';
    src: url('Amiamie-RegularRound.woff2') format('woff2'),
        url('Amiamie-RegularRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

